name: Test Djinn

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CACHE_NUMBER: 0  # increase to reset cache manually

jobs:
  Tests:
    name: "Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Install Djinn
        uses: prefix-dev/setup-pixi@v0.9.2
        with:
          pixi-version: v0.62.0
          cache: false
          activate-environment: true
      - name: fastq convert stlfr
        if: success() || failure()
        run: |
          djinn fastq convert result stlfr test/*.gz &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz
      - name: fastq convert tellseq
        if: success() || failure()
        run: |
          djinn fastq convert result tellseq test/*.gz &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz
      - name: fastq convert 10x
        if: success() || failure()
        run: |
          djinn fastq convert result 10x test/*.gz &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz

      - name: fastq ncbi
        if: success() || failure()
        run: djinn fastq ncbi test/*.gz | samtools view
      - name: sam ncbi
        run: |
          djinn sam ncbi result test/test.bam &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz

      - name: sam standardize
        if: success() || failure()
        run: djinn sam standardize -s stlfr test/test.bam > standard.bam && samtools view standard.bam
      - name: fastq standardize
        if: success() || failure()
        run: |
          djinn fastq standardize -s tellseq result test/*.gz &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz

      - name: sam assign-mi
        if: success() || failure()
        run: djinn sam assign-mi -u -c 0 standard.bam | samtools view

      - name: fastq sample
        if: success() || failure()
        run: |
          djinn fastq sample -d 2 result test/*.gz &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz
      - name: sam sample
        if: success() || failure()
        run: djinn sam sample -d 2 test/test.bam | samtools view

      - name: fastq extract
        if: success() || failure()
        run: djinn fastq extract test/*.gz
      - name: sam extract
        if: success() || failure()
        run: djinn sam extract test/test.bam

      - name: fastq sort
        if: success() || failure()
        run: |
          djinn fastq sort BX result test/*.gz &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz
      - name: sam sort
        if: success() || failure()
        run: djinn sam sort BX test/test.bam | samtools view

      - name: spoof-hic
        if: success() || failure()
        run: |
          djinn fastq spoof-hic result test/*.gz &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz

      - name: bam filter-invalid
        if: success() || failure()
        run: djinn sam filter-invalid test/test.bam | samtools view

      - name: fastq filter-invalid
        if: success() || failure()
        run: |
          djinn fastq filter-invalid result test/*.gz &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz

      - name: sam concat
        if: success() || failure()
        run: djinn sam concat test/test.bam test/test.bam | samtools view

      - name: sam filter-singletons
        if: success() || failure()
        run: djinn sam filter-singletons test/test.bam | samtools view

      - name: fastq filter-singletons
        if: success() || failure()
        run: |
          djinn fastq filter-singletons result test/*.gz &&\
          echo "============= R1 =============" && zcat result.R1.fq.gz &&\
          echo "============= R2 =============" && zcat result.R2.fq.gz