name: Test Djinn

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CACHE_NUMBER: 0  # increase to reset cache manually

jobs:
  Tests:
    name: "Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Install Djinn
        uses: prefix-dev/setup-pixi@v0.9.2
        with:
          pixi-version: v0.56.0
          cache: false
          activate-environment: true
      - name: fastq-stlfr
        run: |
          djinn fastq convert result stlfr test/*.gz &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz
      - name: fastq-tellseq
        run: |
          djinn fastq convert result tellseq test/*.gz &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz
      - name: fastq-10x
        run: |
          djinn fastq convert result 10x test/*.gz &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz

      - name: to-ncbi
        run: |
          djinn fastq ncbi test/*.gz | samtools view
      - name: from-ncbi
        run: |
          djinn sam ncbi result test/test.bam &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz

      - name: std-bam
        run: djinn sam standardize -s stlfr test/test.bam | samtools view
      - name: std-fastq
        run: |
          djinn fastq standardize -s tellseq result test/*.gz &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz

      - name: downsample-fastq
        run: |
          djinn fastq downsample -d 2 result test/*.gz &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz
      - name: downsample-bam
        run: djinn sam downsample -d 2 test/test.bam | samtools view

      - name: extract-fastq
        run: djinn fastq extract test/*.gz
      - name: extract-bam
        run: djinn sam extract test/test.bam

      - name: sort-fastq
        run: |
          djinn fastq sort BX result test/*.gz &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz
      - name: sort-bam
        run: djinn sam sort BX test/test.bam | samtools view

      - name: spoof-hic
        run: |
          djinn fastq spoof-hic result test/*.gz &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz

      - name: filter-invalid-bam
        run: djinn sam filter-invalid test/test.bam | samtools view

      - name: filter-invalid-fastq
        run: |
          djinn fastq filter-invalid result test/*.gz &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz

      - name: filter-singletons-bam
        run: djinn sam filter-singletons test/test.bam | samtools view

      - name: filter-singletons-fastq
        run: |
          djinn fastq filter-singletons result test/*.gz &&\
          echo "==R1==" && zcat result.R1.fq.gz &&\
          echo "==R2==" && zcat result.R2.fq.gz